doctype html
html(lang="en", xmlns:v="urn:schemas-microsoft-com:vml", xmlns:o="urn:schemas-microsoft-com:office:office")
  head
    meta(charset="utf-8")
    meta(name="x-apple-disable-message-reformatting")
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="format-detection", content="telephone=no, date=no, address=no, email=no")
    //
      [if mso]>
      <xml><o:officedocumentsettings><o:pixelsperinch>96</o:pixelsperinch></o:officedocumentsettings></xml>
      <![endif]
    title Contact Email
    link(href="https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;600;700;800&display=swap", rel="stylesheet", media="screen")
    style.
      .hover-underline:hover {
      text-decoration: underline !important;
      }
      
      @media (max-width: 600px) {
      .sm-w-full {
      width: 100% !important;
      }
      
      .sm-px-24 {
      padding-left: 24px !important;
      padding-right: 24px !important;
      }
      
      .sm-py-32 {
      padding-top: 32px !important;
      padding-bottom: 32px !important;
      }
      }
  body(style="margin: 0; width: 100%; padding: 0; word-break: break-word; -webkit-font-smoothing: antialiased; background-color: #eceff1;")
    div(style="font-family: 'Urbanist', sans-serif; mso-line-height-rule: exactly; display: none;")
      | An email was received from Better Biz Website's contact section
    div(role="article", aria-roledescription="email", aria-label="Reset your Password", lang="en", style="font-family: 'Urbanist', sans-serif; mso-line-height-rule: exactly;")
      table(style="width: 100%; font-family: Urbanist, -apple-system, 'Segoe UI', sans-serif;", cellpadding="0", cellspacing="0", role="presentation")
        tr
          td(align="center", style="mso-line-height-rule: exactly; background-color: #eceff1; font-family: Urbanist, -apple-system, 'Segoe UI', sans-serif;")
            table.sm-w-full(style="width: 600px;", cellpadding="0", cellspacing="0", role="presentation")
              tr
                td(style="font-family: 'Urbanist', sans-serif; mso-line-height-rule: exactly; height: 36px;")
              tr
                td.sm-px-24(align="center", style="font-family: 'Urbanist', sans-serif; mso-line-height-rule: exactly;")
                  table(style="width: 100%;", cellpadding="0", cellspacing="0", role="presentation")
                    tr
                      td.sm-px-24(style="mso-line-height-rule: exactly; border-radius: 4px; background-color: #ffffff; padding: 48px; text-align: left; font-family: Urbanist, -apple-system, 'Segoe UI', sans-serif; font-size: 16px; line-height: 24px; color: #626262;")
                        p(style="font-family: 'Urbanist', sans-serif; mso-line-height-rule: exactly; margin-bottom: 0; font-size: 20px; font-weight: 600;")
                          | Hello
                        p(style="font-family: 'Urbanist', sans-serif; mso-line-height-rule: exactly; margin-top: 0; font-size: 24px; font-weight: 700; color: #006EEE;")
                          | #{to_name}
                        p(style="font-family: 'Urbanist', sans-serif; mso-line-height-rule: exactly; margin: 0; margin-bottom: 24px;")
                          | #{description}
                        table(style="width: 100%;", cellpadding="0", cellspacing="0", role="presentation")
                          tr
                            td(style="font-family: 'Urbanist', sans-serif; mso-line-height-rule: exactly; padding-top: 32px; padding-bottom: 32px;")
                              div(style="font-family: 'Urbanist', sans-serif; mso-line-height-rule: exactly; height: 1px; background-color: #eceff1; line-height: 1px;")
                                | &zwnj;
                        p(style="font-family: 'Urbanist', sans-serif; mso-line-height-rule: exactly; margin: 0; margin-bottom: 16px;")
                          | From,
                          br
                          | #{from_name}
                    tr
                      td(style="font-family: 'Urbanist', sans-serif; mso-line-height-rule: exactly; height: 20px;")
                    tr
                      td(style="font-family: 'Urbanist', sans-serif; mso-line-height-rule: exactly; height: 16px;")
